In [8]:
#import seaborn 
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
pip install numpy scipy

Requirement already satisfied: numpy in c:\users\visit\anaconda3\lib\site-packages (1.24.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\visit\anaconda3\lib\site-packages (1.11.1)

In [1]:
#To see all the dataset available in seaborn
sns.get_dataset_names()
#To extract the data we use  = smp.load_dataset("")

NameError: name 'sns' is not defined

In [4]:
taxis1 =sns.load_dataset("taxis")
taxis1

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [23]:
taxis=taxis1.head(2000)
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2019-03-28 12:55:08,2019-03-28 12:59:42,1,0.56,5.0,4.00,0.0,12.30,yellow,credit card,Greenwich Village North,West Village,Manhattan,Manhattan
1996,2019-03-19 22:40:23,2019-03-19 22:47:49,1,0.97,6.5,2.06,0.0,12.36,yellow,credit card,Battery Park City,Seaport,Manhattan,Manhattan
1997,2019-03-30 23:10:19,2019-03-30 23:13:55,0,1.20,5.5,0.00,0.0,9.30,yellow,cash,Yorkville East,East Harlem North,Manhattan,Manhattan
1998,2019-03-04 13:59:55,2019-03-04 14:08:23,3,1.60,8.5,0.00,0.0,9.30,yellow,cash,East Concourse/Concourse Village,West Concourse,Bronx,Bronx
1999,2019-03-07 15:37:01,2019-03-07 15:45:45,1,0.95,7.0,3.09,0.0,13.39,yellow,credit card,East Chelsea,Flatiron,Manhattan,Manhattan

In [6]:
taxis.shape

(2000, 14)

In [26]:
taxis.boxplot()

AssertionError: 3

In [27]:
sns.boxplot(y='distance', data=taxis)

In [25]:
plt.boxplot(taxis.distance)

{'whiskers': [<matplotlib.lines.Line2D at 0x21e4ddefdd0>,
  <matplotlib.lines.Line2D at 0x21e4dded7d0>],
 'caps': [<matplotlib.lines.Line2D at 0x21e4ddf0310>,
  <matplotlib.lines.Line2D at 0x21e4ddf2610>],
 'boxes': [<matplotlib.lines.Line2D at 0x21e4ddef450>],
 'medians': [<matplotlib.lines.Line2D at 0x21e4ddf3590>],
 'fliers': [<matplotlib.lines.Line2D at 0x21e4ddf0a10>],
 'means': []}