In [1]:
import pandas as pd

In [2]:
pd.read_csv('tip.csv')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
TIPS=pd.read_csv('tip.csv')

In [10]:
#For time
TIPS['time'].value_counts()

time
0    176
1     68
Name: count, dtype: int64

In [11]:
#sklearn

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
Le = LabelEncoder()
TIPS["time"] = Le.fit_transform(TIPS["time"])

In [18]:
#For day
TIPS['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [19]:
Le = LabelEncoder()
TIPS["day"] = Le.fit_transform(TIPS["day"])

In [20]:
TIPS

     total_bill   tip     sex smoker  day  time  size
0         16.99  1.01  Female     No    2     0     2
1         10.34  1.66    Male     No    2     0     3
2         21.01  3.50    Male     No    2     0     3
3         23.68  3.31    Male     No    2     0     2
4         24.59  3.61  Female     No    2     0     4
..          ...   ...     ...    ...  ...   ...   ...
239       29.03  5.92    Male     No    1     0     3
240       27.18  2.00  Female    Yes    1     0     2
241       22.67  2.00    Male    Yes    1     0     2
242       17.82  1.75    Male     No    1     0     2
243       18.78  3.00  Female     No    3     0     2

[244 rows x 7 columns]

In [17]:
TIPS['time'].value_counts()

time
0    176
1     68
Name: count, dtype: int64

In [21]:
TIPS['day'].value_counts()

day
1    87
2    76
3    62
0    19
Name: count, dtype: int64