In [ ]:
#Standardization /Formula: (x - mean(X)) / std(X)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
TIP=pd.read_csv('tip.csv')

In [5]:
TIP

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
#total_bill

In [6]:
TIP['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [8]:
T_bill=TIP['total_bill']

In [9]:
mean=T_bill.mean()

In [10]:
mean

19.78594262295082

In [12]:
std=T_bill.std()
std

8.902411954856856

In [ ]:
#Standardize column  /(x - mean(X)) / std(X)

In [17]:
Standardized_Value= T_bill-19.79 /8.90
Standardized_Value

0      14.766404
1       8.116404
2      18.786404
3      21.456404
4      22.366404
         ...
239    26.806404
240    24.956404
241    20.446404
242    15.596404
243    16.556404
Name: total_bill, Length: 244, dtype: float64

In [19]:
TIP['newColumn']=T_bill

In [ ]:
#tip

In [21]:
Tip_C=TIP['tip']

In [23]:
mean=Tip_C.mean()
mean

2.99827868852459

In [24]:
std=Tip_C.std()
std

1.3836381890011826

In [ ]:
#Standardize column  /(x - mean(X)) / std(X) Or abs(x - mean(X)) / std(X))

In [27]:
Standardized_Tip_C= abs(Tip_C-2.30 /1.38)
Standardized_Tip_C

0      0.656667
1      0.006667
2      1.833333
3      1.643333
4      1.943333
         ...
239    4.253333
240    0.333333
241    0.333333
242    0.083333
243    1.333333
Name: tip, Length: 244, dtype: float64

In [28]:
TIP['newColumn']=Tip_C

In [29]:
#size
Size_C=TIP['size']

In [30]:
mean=Size_C.mean()
mean

2.569672131147541

In [31]:
std=Size_C.std()
std

0.9510998047322332

In [ ]:
#Standardize column  /(x - mean(X)) / std(X) Or abs(x - mean(X)) / std(X))

In [32]:
Standardized_Size_C= abs(Size_C-2.57 /0.95)
Standardized_Size_C

0      0.705263
1      0.294737
2      0.294737
3      0.705263
4      1.294737
         ...
239    0.294737
240    0.705263
241    0.705263
242    0.705263
243    0.705263
Name: size, Length: 244, dtype: float64

In [33]:
TIP['newColumn']=Size_C

In [ ]:
#Normalization:Formula: x - min(X) / max(X) - min(X)              /Covid[['Region','Confirmed']].max()

In [ ]:
#total_bill

In [39]:
Total_Max=TIP['total_bill'].max()
Total_Max

50.81

In [40]:
Total_min=TIP['total_bill'].min()
Total_min

3.07

In [44]:
Normalization_total_b= TIP['total_bill'] - 3.07 / 50.81 - 3.09
Normalization_total_b

0      13.839579
1       7.189579
2      17.859579
3      20.529579
4      21.439579
         ...
239    25.879579
240    24.029579
241    19.519579
242    14.669579
243    15.629579
Name: total_bill, Length: 244, dtype: float64

In [ ]:
#tip

In [45]:
Tip_Max=TIP['tip'].max()
Tip_Max

10.0

In [46]:
Tip_min=TIP['tip'].min()
Tip_min

1.0

In [52]:
Normalization_tip_b=abs (TIP['tip'] - 1.0 / 10.0 - 1.0)
Normalization_tip_b

0      0.09
1      0.56
2      2.40
3      2.21
4      2.51
       ...
239    4.82
240    0.90
241    0.90
242    0.65
243    1.90
Name: tip, Length: 244, dtype: float64

In [ ]:
#size

In [48]:
Size_Max=TIP['size'].max()
Size_Max

6

In [49]:
Size_Min=TIP['size'].min()
Size_Min

1

In [51]:
Normalization_size_b= abs(TIP['tip'] - 1 / 6 - 1)
Normalization_size_b

0      0.156667
1      0.493333
2      2.333333
3      2.143333
4      2.443333
         ...
239    4.753333
240    0.833333
241    0.833333
242    0.583333
243    1.833333
Name: tip, Length: 244, dtype: float64